In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\User\\OneDrive\\Documents\\Faiz Khan Program\\Machine Learning\\ML with codebasics\\spam.csv")

In [3]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df.shape

(5572, 2)

Now, lets do some Data exploration to see wats going on with this data,

First lets just Group it by Category then describing it

In [7]:
df.groupby(df['Category']).describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

So we can see from above there are 4825 ham and 747 spam so theres a good amount of spam in our dataset

Now, both the columns are text so we have to convert them into Numeric values. The first column is easy to convert into Numeric values since we only have 2 Categories so we can use 1 and 0, so the way to do that is using the apply() function.

We use it with Lambda, below it takes the category column and 1 if x is spam else 0 then store it in a new column called spam

In [8]:
df['spam'] = df['Category'].apply(lambda i: 1 if i == "spam" else 0)

In [9]:
df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

As, we can see, where it is spam it put 1 and if its ham it puts 0, instead of this you can also use onehotencoder or pandas dummy variable.

Once this is done, we can do Train Test split method

## Train Test split¶

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(df.Message, df.spam, test_size=0.25)

## CountVectorizer

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
word_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

So it created prolly many features thats why its showing some dots inbetween and these features are equal to Numbers of unique words in our Corpus, Corpus is basically all the unique words that u see in this huge dataset so u realize that it will be many columns

In [54]:
X_test_count = v.transform(X_test.values)

## Multinomial Naive Bayes

In [55]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count, y_train)
model.score(X_test_count, y_test)

0.9885139985642498

Now once the model is trained, it is ready to make predictions, so lets give it two emails and see

The first email seems to be like a good email, however the second one seems like to be a spam

In [57]:
emails = [
    'Hey mohan, can we get together to watch football game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [59]:
model.predict(X_test_count)

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

You can see our model performed really well! So u can see that for Spam/not Spam type of problems the Naive Bayes model works really great

# SKLearn Pipeline

Now we found that converting it into a metric created a lil bit of inconvinient in terms of when we was supplying X_test_count we had to perform this transofrm method, and also when we were trying the test emails to predict, we also had to transform it, so SKLearn has a nice feature called <b>Pipeline</b> where u can define a Pipeline of ur Transofrmation, above what we were doing is, on our row data we are applying some sort of Transformation before fitting it into our model, right now we only used CountVectorizer, some people use more than 1 transofrmation like TFIDF and so on, in that case we can use SKLearn Pipeline and its super Convenient.

So first thing u do is import the Pipeline

In [60]:
from sklearn.pipeline import Pipeline

And then u create ur pipeline using the pipeline steps, so our first step is CountVectorizer, so just to remind u what we are doing here is, we are trying to simplify the same codebase so since we have to perform this transformation step everytime, so here we will create a piepleie with 2 steps, so first step is convert my text to vector of CountVectorizer and then apply the MultinomialNB.

Remember what was X_train? it has texts inside and in the previous above we used X_train_count as we converted it into count and then trained the model.

Here we can directly fit the text into our model cuz internally inside our pipeline it will convert it to a vector first and then apply Naive Bayes on that

In [66]:
mypipeline = Pipeline([
    ("vectorizer", CountVectorizer()),
    ("nb", MultinomialNB())
])
mypipeline.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [67]:
mypipeline.score(X_test,y_test)

0.9885139985642498

In [68]:
mypipeline.predict(emails)

array([0, 1], dtype=int64)