In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_csv("C:\\Users\\User\\OneDrive\\Documents\\Faiz Khan Program\\Machine Learning\\ML with codebasics\\Melbourne_housing_FULL.csv")

In [9]:
data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

# DATA PREPROCESSING

In [10]:
data.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [11]:
data.shape

(34857, 21)

# Selecting necessary columns
 let's use limited columns so and discard the column we dont want to use and only use below selected columns

In [12]:
cols_to_use = ['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount', 
               'Distance', 'CouncilArea', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price']
data = data[cols_to_use]

data.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0

In [13]:
data.shape

(34857, 15)

### Check NA Values
We will check sum of NA Values and we can see that there are 8217 NA values in Bedroom2 column, etc

In [14]:
data.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

### Filling NA Values
Now lets fill some of above columns which has NA values with 0, we will only fill below selected columns with 0, cuz for example if the clumn Car has 0 value means there is no parking place available in that property, etc

In [19]:
cols_to_fill_zero = ['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']
data.loc[:, cols_to_fill_zero] = data[cols_to_fill_zero].fillna(0) # filling them with 0

In [20]:
data.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

As u can see above, those columns now has 0 NA values since we filled them with 0's, now lets handle the remaining Landsize, BuildingArea and Price column as well

### Filling NA with mean values
Now, for the **Landsize** and **BuildingArea** we will fill it with the mean values as below

In [21]:
# other continuous features can be imputed with mean for faster results since our 
# focus is on Reducing overfitting
data.loc[:, 'Landsize'] = data['Landsize'].fillna(data.Landsize.mean())
data.loc[:, 'BuildingArea'] = data['BuildingArea'].fillna(data.BuildingArea.mean())

In [22]:
data.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

Now, all the columns has 0 NA values except Price and some other with has like 3 NA values which doesnt matter since its only 3 compared to our huge dataset so we can just drop all the NA values and we can just drop the NA values in Price column as well cuz if it has no price it basically means its not for sale or already sold out or just not available

In [23]:
data.dropna(inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_17416\1368182302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)

In [24]:
data.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

As we can see above, now we have no NA values in any column, we have done our data cleaning

## Dummy Variable
Now, we also have some Categorical columns which are text so we will want to convert it into dummies or one hot encoding, we will simply use pandas api called **get_dummies()**

In [25]:
data = pd.get_dummies(data, drop_first=True).astype(int)
data.head()

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,2,4019,2,2,1,1,202,160,1480000,0,...,0,0,0,0,0,0,0,0,1,0
2,2,4019,2,2,1,0,156,79,1035000,0,...,0,0,0,0,0,0,0,0,1,0
4,3,4019,2,3,2,0,134,150,1465000,0,...,0,0,0,0,0,0,0,0,1,0
5,3,4019,2,3,2,1,94,160,850000,0,...,0,0,0,0,0,0,0,0,1,0
6,4,4019,2,3,1,2,120,142,1600000,0,...,0,0,0,0,0,0,0,0,1,0

# X and y Splitting

In [27]:
X = data.drop('Price', axis=1)
y = data['Price']

# Train Test Splitting

In [28]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=2)

# Regular Linear Regression
Since we have splitted our datasets, Now, lets do a model training using Regular Linear Regression

In [30]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_X, train_y)
reg

LinearRegression()

Now lets check the score of the Linear Regression

In [32]:
reg.score(test_X, test_y)

0.13413168587513746

As we can see above, our score is really really low but if we check the score on our training dataset it is pretty better than the one above

In [33]:
reg.score(train_X, train_y)

0.6825862950046448

So this Linear Regression is clearly overfitting the dataset since it gives a good score with training dataset but for testing dataset which it hasnt seen before it gave a terrible score,

# Lasso Regression (L1)
SKLearn provides a model called LASSO, which is basically L1 Regularization, so lets try Lasso Regression model this time

In [40]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=50, max_iter=1000, tol=0.01)
lasso.fit(train_X, train_y)

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.186e+15, tolerance: 7.963e+13
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=50, tol=0.01)

In [41]:
lasso.score(test_X, test_y)

0.6633620255359882

Now u can see the accuracy improved, using Normal Linear Regression we got only around 13% and now with Regularization we got 66% so we can see how much of a big diffeence it can make

In [42]:
lasso.predict(test_X)

array([1674789.34880773, 1086047.28679077,  902897.12814848, ...,
        907720.32975655,  792453.00691366, 1206627.72966835])

# Ridge Regression (L2)
There is L2 Regularization as well which is Ridge Regression so we can try that too

In [47]:
from sklearn.linear_model import Ridge
ridge= Ridge(alpha=10, max_iter=1000, tol=0.01)
ridge.fit(train_X, train_y)
ridge.score(test_X, test_y)

0.6743105978617681

In [66]:
predict = ridge.predict(test_X)
predict

array([1667659.7281364 , 1065188.88475705,  898421.91595565, ...,
        908257.85180665,  788743.84697517, 1209041.0041946 ])

As u can see above its pretty good as well, ofcourse its still abit low but its better than 13% accuracy which we got earlier.

We see that Lasso and Ridge Regularizations prove to be beneficial when our Simple Linear Regression Model overfits. These results may not be that contrast but significant in most cases.Also that L1 & L2 Regularizations are used in Neural Networks too