In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from word2number import w2n

In [53]:
data = pd.read_csv("C:\\Users\\User\\OneDrive\\Documents\\Faiz Khan Program\\Machine Learning\\ML with codebasics\\hiring.csv")

In [54]:
data

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [55]:
def word_num(word):
    try:
        return w2n.word_to_num(word)
    except ValueError:
        return word
    
newdata = data.copy()
newdata['experience'] = newdata['experience'].apply(word_num)
newdata.experience.fillna(0, inplace=True)

In [56]:
newdata['test_score(out of 10)'].fillna(int(np.mean(newdata['test_score(out of 10)'])), inplace=True)
newdata

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         0.0                    8.0                           9      50000
1         0.0                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    7.0                           7      72000
7        11.0                    7.0                           8      80000

In [57]:
reg = LinearRegression()
reg.fit(newdata[["experience", "test_score(out of 10)", 
                 "interview_score(out of 10)"]], newdata['salary($)'])

LinearRegression()

In [58]:
print(reg.coef_)
print(reg.intercept_)

[2922.26901502 2221.30909959 2147.48256637]
14992.65144669314

## Manually getting the intercept to assure

In [64]:
# FORMULA:
#     b = mean of y - (m1 * mean of x1 + m2 * mean of x2 + m3 * mean of x3)
np.mean(newdata['salary($)']) - ( 2922.26901502 * np.mean(newdata.experience) +
                                        2221.30909959 * np.mean(newdata['test_score(out of 10)']) +
                                        2147.48256637 * np.mean(newdata['interview_score(out of 10)']))

14992.651446668751

## Manually predicting using formula

In [65]:
# Y = m1 * x1 + m2 * x2 + m3 * x3 + b
2922.26901502 * 2 + 2221.30909959 * 9 + 2147.48256637 * 6 + 14992.65144669314

53713.86677126314

In [66]:
reg.predict([[2, 9, 6]])

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53713.86677124])

In [67]:
reg.predict([[12, 10, 10]])

C:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([93747.79628651])